.Rproj.user
.Rhistory
.RData
.Ruserdata
render-all.sh
1_Theory_files
2_R_basics_files
3_Obtaining_Text_Data_files
4_dictionary-analysis_files
5_Correlation_and_regression_files
6_supervised-learning_files
7_unsupervised-learning_files
7._topicsmodel_topwords.xlsx
8_Word_Embeddings_and_Deep_Learning_files
.Renviron
model
python-env
media/fig_overtime.html
media/bert_corp_news_intertopic.html
README.html
8_imdb_distilbert.rds
8_imdb_roberta.rds
8_topic_model.rds
5_network_plot.pdf
